
<link rel="stylesheet" href="/styles.css">
<%- include('partials/header'); -%>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Image </title>
</head>


<body>
    <h1>uploaded Images</h1>
   
     <p>No images uploaded yet.</p>
                                                 
</body>

</html>
<%- include('partials/footer'); -%>