<link rel="stylesheet" href="/styles.css">
<%- include('partials/header'); -%>
<h2>Here are some of the topics</h2>
<ul class="recipes">
  <li class="recipe">
    <img src="/Arrays.png" href="/topic/Arrays">
    <a href ="/topic/Arrays"> <h4>Arrays</h4></a>
   
   <!--<p>Banana, Vanilla ice cream, Milk</p>--> 
  </li>
  <li class="recipe">
    <img src="/DP.png" href="/topic/DP">
    <a href ="/topic/DP"> <h4>Dynamic Programming</h4></a>
  </li>
  <li class="recipe">
    <img src="/Graph.png" href="/topic/Graph">
    <a href ="/topic/Graph"> <h4>Graph</h4></a>
  </li>
  <li class="recipe">
    <img src="/Strings.png" href="/topic/Strings">
    <a href ="/topic/Strings"> <h4>Strings</h4></a>
  </li>
  <li class="recipe">
    <img src="/Tree.png" href="/topic/Tree">
    <a href ="/topic/Tree"> <h4>Tree</h4></a>
  </li>
  <li class="recipe">
    <img src="/Math.png" href="/topic/Math">
    <a href ="/topic/Math"> <h4>Math</h4></a>
  </li>
  <li class="recipe">
    <img src="/Time Complexity.jpg" href="/topic/Time-Complexity">
    <a href ="/topic/Time-Complexity"> <h4>Time Complexity</h4></a>
  </li>
  <li class="recipe">
    <img src="/Greedy.png" href="/topic/Greedy">
    <a href ="/topic/Greedy"> <h4>Greedy</h4></a>
  </li>
  <li class="recipe">
    <img src="/Binary.png" href="/topic/Binary-Search">
    <a href ="/topic/Binary-Search"> <h4>Binary Search</h4></a>
  </li>
</ul>

<%- include('partials/footer'); -%>